*{
    margin: 0;
    padding: 0;
}
html, body{
    box-sizing: border-box;
    font-size: 20px;
}

header{
    background-color: aliceblue;
}

main{
    padding: 2em;
}
.cards{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.viewed{
    background-color: lightgray;
}
.details {
    display: flex;
    gap: 1em;
}
.details >li{
    list-style-type: none;
    font-size: 0.7em;
    background-color:bisque;
}
.content > li{
    list-style-type: none;
    background-color: aqua;
}
.control > button{
    font-size: 1.1em;
    padding: 0.3em;
    border-radius: 5px;
    margin-right: 1em;
}
